{% extends "base.html" %}
{% block head-scripts %}
    <!-- SRC -->
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/closure-library/closure/goog/base.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jericho.main.js"></script>
    <!-- END SRC -->
{% endblock %}

{% block body-content %}
    <div id="header-section-wrapper" class="header-section-wrapper" style="height: {{ header_height }}px;">
        <div class="header-section">
            <div id="k-logo" class="k-logo" style="left: {{ logo_left }}px;"></div>
            <div id="hero-wrapper" class="hero-wrapper" style="width: {{ hero_width }}px;">
                <img id="hero-image" class="hero-image" src="{{ starting_post.image.image.url }}" alt="" />
            </div>
        </div>
    </div>
    <div id="content-section-wrapper" class="content-section-wrapper" style="margin-top: {{ header_height }}px;">
        <div class="content-section" role="main">
            {% if site_messaging.name %}
            <div class="site-messaging-container">
                <div class="site-messaging-header">
                    {{ site_messaging.name }}
                </div>
                {% if site_messaging.description %}
                <div class="site-messaging-description">
                    "{{ site_messaging.description }}"
                </div>
                {% endif %}
            </div>
            {% endif %}
            <ul class="grid">
                <li class="grid-column size-3of4">
                    {% for post in posts %}
                        <div class="post-container" data-id="{{ post.id }}">
                            <div class="post-original">
                                <ul class="post-header grid">
                                    <li class="title grid-column">{{ post.name }}</li>
                                    <li class="author grid-column-right">by {{ post.creator }}</li>
                                </ul>
                                <p class="description">
                                    {{ post.description }}
                                </p>
                                <ul class="meta grid">
                                    <li class="grid-column">{{ post.added_date|date:"m/d/Y" }}</li>
                                </ul>
                                <div class="hero-image" data-src="{{ post.image.image.url }}" data-height="{{ post.image.image.height }}" data-width="{{ post.image.image.width }}"></div>
                            </div>
                            <!--
                            <div class="activity-container">
                                <ul class="post-actions grid-center">
                                    <li class="grid-column-inline"><a href="#">edit</a></li>
                                    <li class="grid-column-inline"><a href="#">delete</a></li>
                                    <li class="grid-column-inline"><a href="#">comment</a></li>
                                </ul>
                                <form id="post-input-form-{{ post.id }}" class="post-input-form">
                                    <fieldset>
                                        <ul class="forms">
                                            <li class="post-author-wrapper">
                                                <input name="post-author" placeholder="Who are you?" />
                                            </li>
                                            <li>
                                                <textarea name="post-description" placeholder="What do you have to say?"></textarea>
                                            </li>
                                        </ul>
                                        <ul class="post-actions grid-right">
                                            <li class="grid-column-inline"><a href="#">submit</a></li>
                                            <li class="grid-column-inline"><a href="#">cancel</a></li>
                                        </ul>
                                    </fieldset>
                                </form>
                            </div>
                            -->
                        </div>
                    {% endfor %}
                </li>
                <li class="grid-column size-1of4">
                    <div class="sidebar rounded-corners">
                        <div class="header">
                            Sidebar
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-section-wrapper">
        <div class="footer-section">
            &copy; {% now "Y" %} TheKoehl
        </div>
    </div>
    {% include 'partials/comic.html' %}
{% endblock %}

{% block body-scripts %}
    <!-- INIT -->
    <script>
        function main() {
            var main = new jericho.Main();
        }
        main();
    </script>
    <!-- END INIT -->

    <!-- COMPILED
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jericho.main.min.js"></script>
    END COMPILED -->
{% endblock %}
