{% extends "base.html" %}
{% block head-scripts %}
    <!-- SRC -->
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/closure-library/closure/goog/base.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jericho.main.js"></script>
    <!-- END SRC -->
{% endblock %}

{% block body-content %}
    <div class="header">Test</div>
    <div class="masonry" role="main">
        <div class="content">
        </div>
    </div>
    <div class="footer">
        &copy; {% now "Y" %} TheKoehl
    </div>
    {% include 'partials/comic.html' %}
{% endblock %}

{% block body-scripts %}
    <!-- INIT -->
    <script>
        function main() {
            var main = new jericho.Main();
        }
        main();
    </script>
    <!-- END INIT -->

    <!-- COMPILED
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jericho.main.min.js"></script>
    END COMPILED -->
{% endblock %}
