{% extends "base.html" %}
{% load markup %}
{% load comments %}
{% block title %}Jericho{% endblock %}
{% block head-scripts %}
    <!-- SRC -->
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/closure-library/closure/goog/base.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jericho.main.js"></script>
    <!-- END SRC -->
{% endblock %}

{% block body-content %}
    <div id="header-section-wrapper" class="header-section-wrapper" style="height: {{ header_height }}px;">
        <div class="header-section">
            <div id="k-logo" class="k-logo" style="left: {{ logo_padding }}px;"></div>
<!--             <div id="hero-overlay" class="hero-overlay" style="right: {{ header_overlay_padding }}px;">{{ starting_post.name }}</div> -->
            <div id="hero-wrapper" class="hero-wrapper" style="width: {{ hero_width }}px;">
                <img id="hero-image" class="hero-image" src="{{ starting_post.image.image.url }}" alt="" />
            </div>
        </div>
    </div>
    <div id="content-section-wrapper" class="content-section-wrapper" style="margin-top: {{ header_height }}px;">
        <div class="content-section" role="main">
            {% include 'partials/site-messaging.html' %}
            <ul class="grid">
                <li class="grid-column size-3of4">
                    <ul class="actions-container outside grid">
                        <li class="grid-column">
                            {% if starting_post.get_previous_id %}
                                <a id="previous-page" class="previous-page" href="/{{ starting_post.get_previous_id }}">Previous Page</a>
                            {% else %}
                                Previous Page
                            {% endif %}
                        </li>
                        <li class="grid-column-right">
                            {% if starting_post.get_next_id %}
                                <a id="next-page" class="next-page" href="/{{ starting_post.get_next_id }}">Next Page</a>
                            {% else %}
                                Next Page
                            {% endif %}
                        </li>
                    </ul>
                </li>
                <li class="grid-column size-1of4">
                    <form id="post-search-form" class="post-search-form">
                        <fieldset>
                            <ul class="forms">
                                <li class="post-search-wrapper">
                                    <input id="post-search" name="post-search" placeholder="Search for a post?" />
                                </li>
                            </ul>
                            <ul class="actions-container grid-right">
                                <li class="grid-column-inline"><a href="#">search</a></li>
                            </ul>
                        </fieldset>
                    </form>
                </li>
            </ul>
            <ul class="grid">
                <li class="grid-column size-3of4">
                    {% for post in posts %}
                        <div class="post-container" data-id="{{ post.id }}" data-previous-id="{{ post.get_previous_id }}" data-next-id="{{ post.get_next_id }}">
                            <div class="post-original">
                                <ul class="post-header grid">
                                    <li class="title grid-column">{{ post.name }}</li>
                                    <li class="author grid-column-right">by {{ post.creator }}</li>
                                </ul>
                                <div class="description markdown">
                                    {{ post.description|markdown }}
                                </div>
                                <ul class="meta grid">
                                    <li class="grid-column">{{ post.added_datetime|date:"m/d/Y h:iA" }}</li>
                                </ul>
                                <div class="hero-image" data-name="{{ post.name }}" data-src="{{ post.image.image.url }}" data-height="{{ post.image.image.height }}" data-width="{{ post.image.image.width }}"></div>
                            </div>
                            <!--
                            <div class="activity-container">
                                <ul class="actions-container grid-center">
                                    <li class="grid-column-inline"><a href="#">edit</a></li>
                                    <li class="grid-column-inline"><a href="#">delete</a></li>
                                    <li class="grid-column-inline"><a href="#">comment</a></li>
                                </ul>
                                <form id="post-input-form-{{ post.id }}" class="post-input-form">
                                    <fieldset>
                                        <ul class="forms">
                                            <li class="post-author-wrapper">
                                                <input name="post-author" placeholder="Who are you?" />
                                            </li>
                                            <li>
                                                <textarea name="post-description" placeholder="What do you have to say?"></textarea>
                                            </li>
                                        </ul>
                                        <ul class="actions-container grid-right">
                                            <li class="grid-column-inline"><a href="#">submit</a></li>
                                            <li class="grid-column-inline"><a href="#">cancel</a></li>
                                        </ul>
                                    </fieldset>
                                </form>
                            </div>
                            -->
                        </div>
                    {% endfor %}
                </li>
                <li class="grid-column size-1of4">
                    {% include "partials/sidebar.html" %}
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-section-wrapper">
        <div class="footer-section">
            &copy; {% now "Y" %} TheKoehl
        </div>
    </div>
{% endblock %}

{% block body-scripts %}
    <!-- INIT -->
    <script>
        function main() {
            var main = new jericho.Main();
        }
        main();
    </script>
    <!-- END INIT -->

    <!-- COMPILED
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jericho.main.min.js"></script>
    END COMPILED -->
{% endblock %}
