/* ---------------------------------------------------------------------
Original Author: Gary Koehl
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* --------------------------------------------
Import Google Font
----------------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
/*
@import url('//fonts.googleapis.com/css?family=Droid+Sans:400,700');
*/

/* --------------------------------------------
Globals
----------------------------------------------- */
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1070px;
    font-family: 'Open Sans', arial, serif;
    font-size: 12px;
    overflow-y: scroll;
    background: #0d0d21;
}

.bold {
    font-weight: 700;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.blue {
    color: #3765AF;
}

.grey {
    color: #b3b3b3;
}

.box-shadow {
    -moz-box-shadow: 0 3px 3px #ccc;
    -webkit-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}

.rounded-corners {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.grid {
    overflow: hidden;
}

.grid-column {
    float: left;
}

.grid-column-right {
    float: right;
}

.grid-center {
    overflow: hidden;
    text-align: center;
}

.grid-right {
    overflow: hidden;
    text-align: right;
}

.grid-column-inline {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.size-1of4 {
    width: 25%;
}

.size-3of4 {
    width: 75%;
}

.size-1of5 {
    width: 15%;
}

.size-4of5 {
    width: 85%;
}

/* --------------------------------------------------------------------
Object - Media Block
----------------------------------------------------------------------- */
.media {
    overflow: hidden;
}

.img {
    overflow: hidden;
}

.media .img {
    float: left;
    margin: 0 16px 0px 0;
}

.media.flip .img {
    float: right;
    margin: 0 0 0 16px;
}

.media.stack .img {
    float: none;
    margin: 0 0 16px 0;
}

.media.nowrap .media-body {
    overflow: hidden;
    zoom: 1;
}

.media .img img {
    display: block;
}


/* --------------------------------------------
Header Section
----------------------------------------------- */
.header-section-wrapper {
    background: #f0f0f0;
    /*background: #0d0d21 url('../images/star-background.png') top left repeat;*/
    /*height: 530px;*/
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -2;
}

.header-section {
    width: 1070px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.k-logo {
    position: absolute;
    top: 10px;
    /*left: 10px;*/
    display: block;
    height: 94px;
    width: 94px;
    background: url('../images/k-logo.png') 0 0 no-repeat;
    z-index: 3;
}

.hero-overlay {
    position: absolute;
    top: 30px;
    /*left: 10px;*/
    /*display: none;*/
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    background: #000;
    color: #fff;
    z-index: 3;
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
    font-weight: bold;
    -moz-box-shadow: 1px 3px 3px #000;
    -webkit-box-shadow: 1px 3px 3px #000;
    box-shadow: 1px 3px 3px #000;
}

.hero-wrapper {
    padding: 20px;
    border-top: 1px solid #e7f0f6;
    margin: 20px auto 0;
    -moz-box-shadow: 0 3px 3px #ccc;
    -webkit-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
    background-color: #fff;
}

/* --------------------------------------------
Content Section
----------------------------------------------- */
.content-section-wrapper {
    width: 100%;
    /*margin-top: 530px;*/
    padding: 40px 0 80px;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #3765AF;
    position: relative;
    z-index: 2;
    background: #fff;
}

.content-section {
    width: 1070px;
    margin: 0 auto;
}

.site-messaging-container {
    padding-bottom: 40px;
}

.site-messaging-header {
    font-size: 25px;
    text-align: center;
}

.site-messaging-description {
    padding-top: 5px;
    color: #b3b3b3;
    font-weight: 300;
    text-align: center;
}

/* --------------------------------------------
Sidebar
----------------------------------------------- */
.sidebar {
    margin-left: 20px;
    padding: 0 20px 20px;
    background: #ffb;
    border: 2px solid #ff0;
}

.sidebar .header {
    height: 40px;
    border-bottom: 2px dotted #ff0;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
}

.sidebar .description {
    margin-bottom: 10px;
    line-height: 1.5em;
    color: #111;
}

/* --------------------------------------------
Actions Container
----------------------------------------------- */
.actions-container {
    height: 30px;
    border: 1px dotted #e7f0f6;
    border-width: 2px 0;
    line-height: 30px;
    color: #e7f0f6;
}

.actions-container.outside {
    height: 20px;
    border-width: 2px 0;
    margin: 0 20px 10px;
    line-height: 20px;
    font-size: 10px;
    text-transform: uppercase;
}

.actions-container.outside.right {
    margin: 0 0 10px 20px;
}

.actions-container a {
    color: #b3b3b3;
    text-decoration: none;
}

.actions-container a:hover {
    color: #3765AF;
}

.actions-container li {
    padding-left: 10px;
}

.actions-container li:first-child {
    padding-left: 0;
}

/* --------------------------------------------
Search Form
----------------------------------------------- */
.post-search-form {
    margin: 0 0 10px 20px;
}

.post-search-form input {
    height: 20px;
    border: 1px dotted #e7f0f6;
    border-width: 2px 0;
    line-height: 20px;
    width: 100%;
    background: transparent;
}

.post-search-form .actions-container {
    display: none;
}

/* --------------------------------------------
List Item
----------------------------------------------- */
.list-size-column1-1 {
    width: 80px;
}

.list-size-column1-2 {
    width: 678px;
}

.list-size-column2-1 {
    width: 70px;
}

.list-size-column2-2 {
    width: 608px;
}

.list-item-container {
    height: 60px;
    padding: 10px 22px;
    /*border: 2px solid #e7f0f6;*/
    margin-bottom: 5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.list-item-container.active {
    padding: 8px 20px;
    border: 2px solid #e7f0f6;
    background: #fcfcfc;
}

.list-item-container .list-item-header {
    height: 30px;
    /*padding: 0 10px;*/
    border-bottom: 2px dotted #e7f0f6;
    border-width: 2px 0;
    line-height: 30px;
    color: #3765AF;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
}

.list-item-date-container {
    /*text-align: center;*/
    font-weight: bold;
    color: #b3b3b3;
}

.list-item-date-container .date {
    padding: 7px 0 5px;
    font-size: 24px;
}

.list-item-date-container .time {
    font-size: 16px;
}

.list-item-thumbnail {
}

.list-item-header .title {

}

.list-item-header .author {
}

.list-item-meta {
    height: 28px;
    color: #b3b3b3;
    line-height: 28px;
    font-size: 11px;
    font-weight: 300;
}

/* --------------------------------------------
Post
----------------------------------------------- */
.post-container {
    padding: 2px 22px 0;
    margin-bottom: 20px;
    color: #111;
}

.post-original .post-header {
    height: 40px;
    /*padding: 0 10px;*/
    border-bottom: 2px dotted #e7f0f6;
    border-width: 2px 0;
    margin-bottom: 10px;
    line-height: 40px;
    color: #3765AF;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
}

.post-original .title {

}

.post-original .author {
    font-size: 12px;
    color: #b3b3b3;
}

.post-original .description {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.post-original .meta {
    padding-bottom: 22px;
    color: #b3b3b3;
    font-size: 11px;
    font-weight: 300;
}

.post-original .hero-image {
    display: none;
}

/* --------------------------------------------
Post - Activity
----------------------------------------------- */
.post-container.activity {
    padding: 0 20px;
    background: #fcfcfc;
    border: 2px solid #e7f0f6;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.post-container .activity-container {
    display: none;
}

.post-container.activity .activity-container {
    display: block;
}

.post-container.activity .post-original .meta {
    padding-bottom: 20px;
}

.post-author-wrapper {
    padding: 10px 0;
    border-bottom: 2px dotted #e7f0f6;
    margin-bottom: 10px;
}

.post-input-form input {
    width: 100%;
    border: 0;
    background: none;
}

.post-input-form textarea {
    height: 80px;
    width: 100%;
    border: 0;
    background: none;
}

/* --------------------------------------------
Footer Section
----------------------------------------------- */
.footer-section-wrapper {
    width: 100%;
    position: relative;
    background: #0d0d21;
    z-index: 2;
    color: #fff;
}

.footer-section {
    width: 1070px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
}

/* --------------------------------------------
Markdown
----------------------------------------------- */
.markdown a {
    color: #4183C4;
}
.markdown a.absent {
    color: #cc0000;
}
.markdown a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.markdown h1:hover a.anchor,
.markdown h2:hover a.anchor,
.markdown h3:hover a.anchor,
.markdown h4:hover a.anchor,
.markdown h5:hover a.anchor,
.markdown h6:hover a.anchor {
    background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
    text-decoration: none;
}

.markdown h1 tt,
.markdown h1 code {
    font-size: inherit;
}

.markdown h2 tt,
.markdown h2 code {
    font-size: inherit;
}

.markdown h3 tt,
.markdown h3 code {
    font-size: inherit;
}

.markdown h4 tt,
.markdown h4 code {
    font-size: inherit;
}

.markdown h5 tt,
.markdown h5 code {
    font-size: inherit;
}

.markdown h6 tt,
.markdown h6 code {
    font-size: inherit;
}

.markdown h1 {
    font-size: 28px;
    color: black;
}

.markdown h2 {
    font-size: 24px;
    color: black;
}

.markdown h3 {
    font-size: 18px;
}

.markdown h4 {
    font-size: 16px;
}

.markdown h5 {
    font-size: 14px;
}

.markdown h6 {
    color: #777777;
    font-size: 14px;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown li,
.markdown table,
.markdown pre {
  margin: 15px 0;
}

.markdown hr {
    background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
}

.markdown h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
.markdown h1:first-child {
    margin-top: 0;
    padding-top: 0;
}
  .markdown h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}
.markdown h3:first-child,
.markdown h4:first-child,
.markdown h5:first-child,
.markdown h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.markdown a:first-child h1,
.markdown a:first-child h2,
.markdown a:first-child h3,
.markdown a:first-child h4,
.markdown a:first-child h5,
.markdown a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.markdown h1 p,
.markdown h2 p,
.markdown h3 p,
.markdown h4 p,
.markdown h5 p,
.markdown h6 p {
    margin-top: 0;
}

.markdown li p.first {
    display: inline-block;
}

.markdown ul,
.markdown ol {
    padding-left: 30px;
}

.markdown ul :first-child,
.markdown ol :first-child {
    margin-top: 0;
}

.markdown ul :last-child,
.markdown ol :last-child {
    margin-bottom: 0;
}

.markdown dl {
    padding: 0;
}
.markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}
.markdown dl dt:first-child {
    padding: 0;
}
.markdown dl dt > :first-child {
    margin-top: 0;
}
.markdown dl dt > :last-child {
    margin-bottom: 0;
}
.markdown dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}
.markdown dl dd > :first-child {
    margin-top: 0;
}
.markdown dl dd > :last-child {
    margin-bottom: 0;
}

.markdown blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}
.markdown blockquote > :first-child {
    margin-top: 0;
}
.markdown blockquote > :last-child {
    margin-bottom: 0;
}

.markdown table {
    padding: 0;
}
.markdown table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
.markdown table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.markdown table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
.markdown table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
.markdown table tr th :first-child,
.markdown table tr td :first-child {
    margin-top: 0;
}
.markdown table tr th :last-child,
.markdown table tr td :last-child {
    margin-bottom: 0;
}

.markdown img {
    max-width: 100%;
}

.markdown span.frame {
    display: block;
    overflow: hidden;
}
.markdown span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}
.markdown span.frame span img {
    display: block;
    float: left;
}
.markdown span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}
.markdown span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
.markdown span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}
.markdown span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
.markdown span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
.markdown span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}
.markdown span.align-right span img {
    margin: 0;
    text-align: right;
}
.markdown span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}
.markdown span.float-left span {
    margin: 13px 0 0;
}
.markdown span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}
.markdown span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

.markdown code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.markdown pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.markdown .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.markdown pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}
.markdown pre code,
.markdown pre tt {
    background-color: transparent;
    border: none;
}
