/* ---------------------------------------------------------------------
Original Author: Gary Koehl
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* --------------------------------------------
Import Google Font
----------------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
/*
@import url('//fonts.googleapis.com/css?family=Droid+Sans:400,700');
*/

/* --------------------------------------------
Globals
----------------------------------------------- */
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1070px;
    font-family: 'Open Sans', arial, serif;
    font-size: 12px;
    overflow-y: scroll;
    background: #0d0d21;
}

.bold {
    font-weight: 700;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.blue {
    color: #3765AF;
}

.grey {
    color: #b3b3b3;
}

.box-shadow {
    -moz-box-shadow: 0 3px 3px #ccc;
    -webkit-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}

.rounded-corners {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.grid {
    overflow: hidden;
}

.grid-column {
    float: left;
}

.grid-column-right {
    float: right;
}

.grid-center {
    overflow: hidden;
    text-align: center;
}

.grid-right {
    overflow: hidden;
    text-align: right;
}

.grid-column-inline {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.size-1of4 {
    width: 25%;
}

.size-3of4 {
    width: 75%;
}

/* --------------------------------------------
Header Section
----------------------------------------------- */
.header-section-wrapper {
    background: #f0f0f0;
    /*background: #0d0d21 url('../images/star-background.png') top left repeat;*/
    /*height: 530px;*/
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -2;
}

.header-section {
    width: 1070px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.k-logo {
    position: absolute;
    top: 10px;
    /*left: 10px;*/
    display: block;
    height: 94px;
    width: 94px;
    background: url('../images/k-logo.png') 0 0 no-repeat;
    z-index: 3;
}

.hero-wrapper {
    padding: 20px;
    border-top: 1px solid #e7f0f6;
    margin: 20px auto 0;
    -moz-box-shadow: 0 3px 3px #ccc;
    -webkit-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
    background-color: #fff;
}

/* --------------------------------------------
Content Section
----------------------------------------------- */
.content-section-wrapper {
    width: 100%;
    /*margin-top: 530px;*/
    padding: 40px 0 80px;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #3765AF;
    position: relative;
    z-index: 2;
    background: #fff;
}

.content-section {
    width: 1070px;
    margin: 0 auto;
}

.site-messaging-container {
    padding-bottom: 40px;
}

.site-messaging-header {
    font-size: 25px;
    text-align: center;
}

.site-messaging-description {
    padding-top: 5px;
    color: #b3b3b3;
    font-weight: 300;
    text-align: center;
}

/* --------------------------------------------
Sidebar
----------------------------------------------- */
.sidebar {
    margin-left: 20px;
    padding: 0 20px 20px;
    background: #ffb;
    border: 2px solid #ff0;
}

.sidebar .header {
    height: 40px;
    border-bottom: 2px dotted #ff0;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
}

.sidebar .description {
    margin-bottom: 10px;
    line-height: 1.5em;
    color: #111;
}

/* --------------------------------------------
Post
----------------------------------------------- */
.post-container {
    padding: 2px 22px 0;
    margin-bottom: 20px;
    color: #111;
}

.post-original .post-header {
    height: 40px;
    /*padding: 0 10px;*/
    border-bottom: 2px dotted #e7f0f6;
    border-width: 2px 0;
    margin-bottom: 10px;
    line-height: 40px;
    color: #3765AF;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
}

.post-original .title {

}

.post-original .author {
    font-size: 12px;
    color: #b3b3b3;
}

.post-original .description {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.post-original .meta {
    padding-bottom: 22px;
    color: #b3b3b3;
    font-size: 11px;
    font-weight: 300;
}

.post-original .hero-image {
    display: none;
}

/* --------------------------------------------
Post - Activity
----------------------------------------------- */
.post-container.activity {
    padding: 0 20px;
    background: #fcfcfc;
    border: 2px solid #e7f0f6;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.post-container .activity-container {
    display: none;
}

.post-container.activity .activity-container {
    display: block;
}

.post-container.activity .post-original .meta {
    padding-bottom: 20px;
}

.post-actions {
    height: 30px;
    border: 1px dotted #e7f0f6;
    border-width: 2px 0;
    line-height: 30px;
}

.post-actions a {
    color: #b3b3b3;
    text-decoration: none;
}

.post-actions li {
    padding-left: 10px;
}

.post-actions li:first-child {
    padding-left: 0;
}

.post-author-wrapper {
    padding: 10px 0;
    border-bottom: 2px dotted #e7f0f6;
    margin-bottom: 10px;
}

.post-input-form input {
    width: 100%;
    border: 0;
    background: none;
}

.post-input-form textarea {
    height: 80px;
    width: 100%;
    border: 0;
    background: none;
}

/* --------------------------------------------
Footer Section
----------------------------------------------- */
.footer-section-wrapper {
    width: 100%;
    position: relative;
    background: #0d0d21;
    z-index: 2;
    color: #fff;
}

.footer-section {
    width: 1070px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
}
